
/* Universal selector */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Changed header div to nav */

.header nav {
    display: flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Changed the p to section */

section {
    font-size: 16px;
}

/* I took out the background image and put it in the html doc so I could add alt text to it. */

.hero {
    /* changed height to 100% so it wouldn't bleed over the content below it, and to match the mockup */
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    
}

.content {
    margin-top: 5px;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Changed the classes on the content images so they weren't named after CSS properties */

.first-and-third-img {
    float: left;
    margin-right: 25px;
}

.second-img {
   float: right;
    margin-left: 25px;
}


/* consolidated repeated CSS blocks, and made one class for each section to share and added it in the html */

/* Moved the content section styles above the benefits sections to better match the flow of the html doc */

.content-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated repeated CSS blocks*/

.content-sections img {
    max-height: 200px;
}

/* consolidated repeated CSS blocks */

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* consolidated repeated CSS blocks */

.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated repeated CSS blocks */

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* consolidated repeated CSS blocks */

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* There was a CSS block making the font bigger in the footer, and it had the wrong heading element, so I deleted it. */
